<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo Construction Design</title>
    <link rel="stylesheet" href="../css/bootstrap.css">    
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/mediaquery.css">
    <script src="https://kit.fontawesome.com/4554d31e64.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css"> <link rel="icon" type="image/png" href="../img/logo.png"> 
</head>
<body>
    <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">3D Views</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          3D Views will be update soon <i class="fas fa-digging"></i>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>          
        </div>
      </div>
    </div>
  </div>                
    <div id="header" >
        <div class="container" >
            <div class="row">
                <div class="col-md-4">
                    <h1 id="c_name" >Demo Construction</h1>
                </div>
                <div class="col-md-8">
                    <ul id="menu" class="float-md-end">
                        <li class="text-decoration-underline"><a href="../index.html"><i class="fas fa-home d-md-none d-block-inline fs-3">                           
                        </i><span class=" d-md-inline-block d-none">Home</span></a></li>
                        <!-- <li><a href="../index.html">Home</a></li> -->
                        <li  class="text-decoration-underline"><a  href="Design.html">Design</a></li>
                        <li><a data-bs-toggle="modal" data-bs-target="#exampleModal" href="">3D Views</a></li>
                        <li ><a href="About.html">About Us</a></li>                                                
                        <li><a href="">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>        
    </div>

    <div class="container">
        <!-- <h2 class="py-1">Trends Design</h2> -->
        <div class="row mb-3">
            <div class="col-12 py-md-5 p-4 text-center text-md-left">
                <!-- <h3>Budget Plan</h3><span class="badge badge-success">Success</span> -->
                <h3 class="d-inline mx-1 h_size">Budget Plan</h3>
                <span class="badge bg-success">ECO</span>
            </div>
            <!-- <hr class="d-none d-lg-block"> -->
            <div class="col-lg-6">
                <img src="../img/b1.jpg" alt="" class="img-thumbnail">
            </div>
            <div class="col-lg-6 text-center p-xl-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis quis aperiam soluta. Dicta fugit voluptates voluptatibus doloribus beatae, inventore omnis illo et eius itaque alias cum accusamus veniam esse. Mollitia harum officiis expedita nam, aut asperiores amet quia rerum atque ex dolores blanditiis, reprehenderit voluptatum sit totam aperiam dolorum vel. Debitis beatae aut reiciendis repellat? Rem, repudiandae! Incidunt modi molestiae laudantium nemo quidem adipisci accusamus ab iure veritatis, cumque laboriosam non impedit a aliquid eligendi consectetur quasi consequuntur iste porro? Neque repellat assumenda ipsa, dolorem dolor incidunt repellendus exercitationem possimus natus inventore nobis qui vitae adipisci corporis culpa fuga nulla.</div>            
        </div>
        
        <div class="row mb-3">
            <div class="col-12 py-md-5 p-4 text-center text-md-left">
                <!-- <h3>Budget Plan</h3><span class="badge badge-success">Success</span> -->
                <h3 class="d-inline mx-1 h_size">Green Tree Design</h3><span class="badge bg-info">Old Age </span>
            </div>
            <!-- <hr class="d-none d-lg-block"> -->
            <div class="col-lg-6 text-center p-xl-5 d-none d-lg-inline">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis quis aperiam soluta. Dicta fugit voluptates voluptatibus doloribus beatae, inventore omnis illo et eius itaque alias cum accusamus veniam esse. Mollitia harum officiis expedita nam, aut asperiores amet quia rerum atque ex dolores blanditiis, reprehenderit voluptatum sit totam aperiam dolorum vel. Debitis beatae aut reiciendis repellat? Rem, repudiandae! Incidunt modi molestiae laudantium nemo quidem adipisci accusamus ab iure veritatis, cumque laboriosam non impedit a aliquid eligendi consectetur quasi consequuntur iste porro? Neque repellat assumenda ipsa, dolorem dolor incidunt repellendus exercitationem possimus natus inventore nobis qui vitae adipisci corporis culpa fuga nulla.</div>            
            <div class="col-lg-6">
                <img src="../img/b2.jpg" alt="" class="img-thumbnail">
            </div>
            <div class="col-lg-6 text-center p-xl-5 d-lg-none ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis quis aperiam soluta. Dicta fugit voluptates voluptatibus doloribus beatae, inventore omnis illo et eius itaque alias cum accusamus veniam esse. Mollitia harum officiis expedita nam, aut asperiores amet quia rerum atque ex dolores blanditiis, reprehenderit voluptatum sit totam aperiam dolorum vel. Debitis beatae aut reiciendis repellat? Rem, repudiandae! Incidunt modi molestiae laudantium nemo quidem adipisci accusamus ab iure veritatis, cumque laboriosam non impedit a aliquid eligendi consectetur quasi consequuntur iste porro? Neque repellat assumenda ipsa, dolorem dolor incidunt repellendus exercitationem possimus natus inventore nobis qui vitae adipisci corporis culpa fuga nulla.</div>            
        </div>
        <div class="row mb-3">
            <div class="col-12 py-md-5 p-4 text-center text-md-left">
                <!-- <h3>Budget Plan</h3><span class="badge badge-success">Success</span> -->
                <h3 class="d-inline mx-1 h_size">Looks Out One</h3><span class="badge bg-warning">Dreams</span>
            </div>
            <!-- <hr class="d-none d-lg-block"> -->
            <div class="col-lg-6">
                <img src="../img/b3.jpg" alt="" class="img-thumbnail">
            </div>
            <div class="col-lg-6 text-center p-xl-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis quis aperiam soluta. Dicta fugit voluptates voluptatibus doloribus beatae, inventore omnis illo et eius itaque alias cum accusamus veniam esse. Mollitia harum officiis expedita nam, aut asperiores amet quia rerum atque ex dolores blanditiis, reprehenderit voluptatum sit totam aperiam dolorum vel. Debitis beatae aut reiciendis repellat? Rem, repudiandae! Incidunt modi molestiae laudantium nemo quidem adipisci accusamus ab iure veritatis, cumque laboriosam non impedit a aliquid eligendi consectetur quasi consequuntur iste porro? Neque repellat assumenda ipsa, dolorem dolor incidunt repellendus exercitationem possimus natus inventore nobis qui vitae adipisci corporis culpa fuga nulla.</div>            
        </div>
        
    </div>









    <div id="footer_bar">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="footer_widget">
                        <h4>About Company</h4>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum quisquam nisi neque ea, consequuntur quod.</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, corporis!</p>                    
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="footer_widget">
                        <h4>Home Design</h4>
                        <ul class="alinks">
                            <li><a href="">Lorem ipsum dolor sit amet Drama.</a></li>
                            <li><a href="">Lorem ipsum dolor sit amet Light.</a></li>
                            <li><a href="">Lorem ipsum dolor sit amet Love.</a></li>
                            <li><a href="">Lorem ipsum dolor sit amet Crystal.</a></li>                            
                        </ul>
                    
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="footer_widget">
                        <h4>Company Address</h4> 
                            <address>
		Organization Name: Jerwish Company <br>
		Web Site:<a href=""> Git Hub</a><br>
		Visit us: Youtuber<br>
		710-B, Advant Navis Business Park, <br>
		Sector-142, Noida Uttar Pradesh – 201305
	</address>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <div class="row ">
                <div class="col-md-6">
                    Copyright&copy2023 Demo Construction.
                </div>
                <div class="col-md-6" >
                    <ul id="social_icons" class="float-md-end">
                        <li><i class="fa-brands fa-facebook icons fb_icon"></i></li>
                        <li><i class="fa-brands fa-twitter icons twitter_icon"></i></li>
                        <li><i class="fa-brands fa-linkedin-in icons in_icon"></i></li>
                    </ul>                                   
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    
</body>
</html>